/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html, body {
  height:100%;
  margin:0;
}

@font-face {
  font-family:'mario';
  src: url('../fonts/superplumberbrothers-y00v-webfont.woff2') format('woff2'),
       url('../fonts/superplumberbrothers-y00v-webfont.woff') format('woff');
  font-weight:normal;
  font-style:normal;
}

button:not([disabled]) {
  cursor:pointer;
}



/***************/
/* WEBSITE KLEURENPALET */
/***************/
:root {
  --ronde-buttons-kleur: #973663;
  --linker-button-kleur: #2D2F30;
  --nintendo-logo-kleur: #404188;
  --nintendo-gameboy-kleur: #C3C0BB;
  --ronde-buttons-kleur-hover: #86335a;
  --vierkante-button-kleur-hover: #18191a;
  --tekst-kleur: #FCDCCA;
  --font-mario: mario,sans-serif;
  --font-standaard: sans-serif;
}



/***************/
/* HEADER LOGO */
/***************/
header {
  /* logo altijd gecentreerd in het midden */
 display:grid;
 place-items:center center;
}

header img {
  /* grootte van de img */
 width:12em;
 height:auto;
}



/***************/
/* BODY */
/***************/
body {
  font-family:var(--font-standaard);
  /* de standaard margin van de body uitzetten */
	margin:0;
	/* zo hoog als het scherm */
  height:100vh;
  
  /* gameboy in het midden van de body */
  display:grid;
  place-items:center center;
}

/* moving background bron code https://stackoverflow.com/questions/37903824/how-can-i-make-infinite-flowing-background-with-only-css  */
.backgroundwebsite {
  background-image:url("/images/backgroundwebsite.jpg");
  background-size:auto 100%;
  background-repeat:repeat;
  background-position: 0 0;
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:100%;

  animation-name:backgroundanimation;
  animation-duration: 600s;
  animation-timing-function: linear;
  z-index:-1;
}

.jaartal1 {
  position:absolute;
  width:15em;
  height: auto;
  bottom:5%;
  right: 5%;
  /* x-verschuiving, y-verschuiving, vervaging, kleur */
  box-shadow:1em 1em 1em rgb(0 0 0 / .5);
}

.info {
  position:absolute;
  display: grid;
  place-items: center;
  padding: 0;
  margin: 0;
  width:4em;
  aspect-ratio:  1/1;
  top:5%;
  right: 5%;
  background-color: transparent;
  border: none;
  box-shadow:1em 1em 1em rgb(0 0 0 / .5);
  cursor:pointer;
}




.madeby {
  position:absolute;
  width:15em;
  height: auto;
  bottom:5%;
  right: 79%;
  box-shadow:1em 1em 1em rgb(0 0 0 / .5);
}

.tekstvak {
  position:absolute;
  width:40em;
  height:50%;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  box-shadow:1em 1em 1em rgb(0 0 0 / .5);
  z-index:1;

  background-image:url(../images/tekstvak.jpg);
  background-size:cover;
  opacity:0;
  visibility:hidden;
  transition:.3s;
}

.tekstvak p {
  font-size: 1.7em;
  font-family:var(--font-mario);
  color:var(--tekst-kleur);
  text-shadow: 0.1em 0.2em 0em black;

  text-align:center;
  padding-left: 3em;
  padding-right: 3em;
  top: 50%;
  position: absolute;
  transform: translatey(-60%);
}

.tekstvak.open {
  opacity:1;
  visibility:visible;
}



/***************/
/* GAMEBOY */
/***************/
article {
  background-color:var(--nintendo-gameboy-kleur);
  position:relative;
  width:24em;
  height:36em;
  padding:3em 2em 2em 2em;
  border-radius:1em 1em 8em 1em / 1em 1em 5em 1em;
  /* https://html-css-js.com/css/generator/box-shadow/ */
  box-shadow:
    inset -.25em -.25em .25em rgb(102 102 102),
    inset .25em .25em .25em rgb(255 255 255),
    /* schaduw achter gameboy */
    1em 1em 1em rgb(0 0 0 / .5);
    /* diepte gameboy */
    z-index:1;
}



/***************/
/* LOGO GAMEBOY */
/***************/
.logonintendo {
  position:relative;
  width:150px;
  height:auto;
  top:.8em;
}



/***************/
/* SCHERM GAMEBOY */
/***************/
section.scherm {
  background-color:rgb(102 115 128);
   /* grootte van het schermpje */
  height:15em;
  position:relative;

   /* img valt in het scherm */
  overflow:hidden;

  /* https://9elements.github.io/fancy-border-radius */
  border-radius:1em 1em 4em 1em / 1em 1em 2.5em 1em;
 
  /* https://html-css-js.com/css/generator/box-shadow/ */
    box-shadow:
    inset -.1em -.1em .1em rgb(240, 240, 240),
    inset .1em .1em .1em rgb(51 58 64);
}

ol {
  margin:0;
  padding:0;

  /* zorgt ervoor dat het scrollbaar wordt binnen de hoogte van het element zelf (hiervoor had ik overflow:hidden dan kan je nog niet scrollen*/
  overflow:scroll;

  /* tijdens scrollen valt beeld vast in frame (y-as) */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  /* niet meer kunnen scrollen met muis */
  pointer-events: none;
  scrollbar-width: none;
  height:100%;
}

ol::-webkit-scrollbar {
  display: none;
}


ol li {
  height:100%;
  position:relative;
  /* alles wat er buiten valt haalt die weg */
  overflow:hidden;
  
  scroll-snap-align:center;

  /*list items verbergen */
  list-style-type:none;
  }

  ol li::after {
    /* schaduw in het scherm met behulp van Rowin */
    content:"";
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;

     /* https://9elements.github.io/fancy-border-radius */
    border-radius:1em 1em 4em 1em / 1em 1em 2.5em 1em;
    box-shadow:
    inset -.1em -.1em .1em rgb(240, 240, 240),
    inset .1em .1em .1em rgb(51 58 64);
  }

ol li img{
  width:100%;
  height:100%;
  object-fit:cover;
}

ol li:nth-of-type(1) img:nth-of-type(1) {
  /* mario 1 1985*/
  height:2em;
  /* mario schalen ten opzichte van de img */
  object-fit:contain;
  position:absolute;
  left:-11em;
  bottom:2.2em;

  animation-name:mario1;
  animation-duration:7s;
  animation-iteration-count:infinite;
}

ol li:nth-of-type(1) img:nth-of-type(2) {
  /* pipe 1 */
  height:2em;
  object-fit:contain;
  position:absolute;
  left:7em;
  bottom:2.2em;
}

ol li:nth-of-type(2) img:nth-of-type(1) {
    /* mario 2 1991 */
  height:2em;
  object-fit:contain;
  position:absolute;
  left:-11em;
  bottom:7em;

  animation-name:mario2;
  animation-duration:7.5s;
  animation-iteration-count:infinite;
}

ol li:nth-of-type(2) img:nth-of-type(2) {
  /* pipe 2 */
  height:2em;
  object-fit:contain;
  position:absolute;
  left:-6em;
  bottom:1.46em;
}

ol li:nth-of-type(2) img:nth-of-type(3) {
  /* mushroom 1 */
  height:1em;
  object-fit:contain;
  position:absolute;
  left:-1em;
  bottom:1.46em;

  animation-name:mushroom1;
  animation-duration:2s;
  animation-iteration-count:infinite;
}

ol li:nth-of-type(2) img:nth-of-type(4) {
  /* mushroom 2 */
  height:1em;
  object-fit:contain;
  position:absolute;
  left:3.8em;
  bottom:3.6em;

  animation-name:mushroom2;
  animation-duration:1s;
  animation-iteration-count:infinite;
}

ol li:nth-of-type(3) img:nth-of-type(1) {
  /* mario 3 2009 */
  height:2.5em;
  object-fit:contain;
  position:absolute;
  left:-11em;
  bottom:5em;

  animation-name:mario3;
  animation-duration:7.5s;
  animation-iteration-count:infinite;
}

ol li:nth-of-type(3) img:nth-of-type(2) {
  /* flower */
  height:2.2em;
  object-fit:contain;
  position:absolute;
  left:-.6em;
  bottom:4.5em;

  animation-name:flower;
  animation-duration:7s;
  animation-iteration-count:infinite;
}

ol li:nth-of-type(3) img:nth-of-type(3) {
  /* pipe 3 */
  height:4.5em;
  object-fit:contain;
  position:absolute;
  left:-.6em;
  bottom:0em;
}



/***************/
/* BUTTONS */
/***************/
section.rondeKnop1 button {
  position:relative;
  left:20em;
  bottom:-1em;
  transition:.3s;
 
  background-color:var(--ronde-buttons-kleur);
  width:3em;
  height:3em;
  border-radius:50%;
  aspect-ratio:1/1;
  border-style:none;
  box-shadow:
  inset -.25em -.25em .25em #5e203d,
  inset .25em .25em .25em #e2abc3,
  .5em .5em .5em rgb(0 0 0 / .1);
}

section.rondeKnop1 button:hover {
  /* styling ronde button1 hover state */
  background-color:var(--ronde-buttons-kleur-hover);
  box-shadow:
  inset -.25em -.25em .25em rgb(255 255 255 /0.3),
  inset .25em .25em .25em rgb(0 0 0 /0.3);
}

section.rondeKnop1 button:focus {
  /* styling ronde button1 focus state */
  background-color:var(--ronde-buttons-kleur-hover);
  box-shadow:
  inset -.25em -.25em .25em rgb(255 255 255 /0.3),
  inset .25em .25em .25em rgb(0 0 0 /0.3);
  outline:none;    
}

section.rondeKnop2 button {
  position:relative;
  left:17em;
  bottom:-1em;
  
  background-color:var(--ronde-buttons-kleur);
  width:3em;
  height:3em;
  border-radius:50%;
  aspect-ratio:1/1;
  border-style:none;
  box-shadow:
  inset -.25em -.25em .25em #5e203d,
  inset .25em .25em .25em #e2abc3,
  .5em .5em .5em rgb(0 0 0 / .1);
}

section.rondeKnop2 button:hover {
  /* styling ronde button2 hover state */
  background-color: var(--ronde-buttons-kleur-hover);
  box-shadow:
  inset -.25em -.25em .25em rgb(255 255 255 /0.3),
  inset .25em .25em .25em rgb(0 0 0 /0.3);
}

section.rondeKnop2 button:focus {
  /* styling ronde button2 focus state */
  background-color: var(--ronde-buttons-kleur-hover);
  box-shadow:
  inset -.25em -.25em .25em rgb(255 255 255 /0.3),
  inset .25em .25em .25em rgb(0 0 0 /0.3);
  outline: none;    
}

button p {
  /* a/b positioneren ten opzichte van knop */
  position:relative;
  top:2.7em;
  text-align:center;
  color:var(--nintendo-logo-kleur);
}

button:focus p {
/* styling p focus state */
font-weight:bold;
outline: none;
}

/* vierkante button*/
.wrapper {
  position:absolute;
  height:7.5em;
  width:7.5em;
  top:22em;
  left:2em;
  filter:drop-shadow(7px 5px 5px #777);
}

/* button wrappers */
.wrapper > div {
  width:2.5em;
  height:2.5em;
  position:absolute;

  display:grid;
  place-items:center center;
  background-color:var(--linker-button-kleur);
}

.center {
  top:2.5em;
  left:2.5em;
}

.right {
  top:2.5em;
  left:5em;
  border-radius: 0 25% 25% 0;
}

.left {
  top:2.5em;
  left:0em;
  border-radius: 25% 0 0 25%;
}

.down {
  top:5em;
  left:2.5em;
  border-radius: 0 0 25% 25%;
}

.up {
  left:2.5em;
  border-radius: 25% 25% 0 0;
}

.wrapper button {
  background-color:transparent;
  border:none;
  color:transparent; 
}

.center-circle {
  border-radius:100%;
  width:75%;
  height:75%;
}

div.wrapper button:hover {
  /* styling hover state */
  background-color: var(--vierkante-button-kleur-hover);
  box-shadow:
  inset -.25em -.25em .25em rgb(255 255 255 /0.3),
  inset .25em .25em .25em rgb(0 0 0 /0.3);
}

div.wrapper button:focus {
  /* styling focus/tab state */
  background-color: var(--vierkante-button-kleur-hover);
  box-shadow:
  inset -.25em -.25em .25em rgb(255 255 255 /0.3),
  inset .25em .25em .25em rgb(0 0 0 /0.3);
  outline:none;
}

.info img {
  /* styling info */
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.info:hover {
  /* styling info hover state */
  box-shadow:1em 1em 1em rgb(0 0 0 / .6);
}

.info:focus {
  /* styling focus state */
  box-shadow:1em 1em 1em rgb(0 0 0 / .6);
  outline:none;
}



/***************/
/* ANIMATIES */
/***************/

/* mario level 1 */
@keyframes mario1 {
  0% {
    transform: translate(0,0);
  } 
  10% {
    transform: translate(5em,0);
  } 
  20% {
    transform: translate(6em,-6em);
    animation-timing-function: ease-out;
  } 
  30% {
    transform: translate(7.5em,-4.75em);
    animation-timing-function: linear;
  } 
  40% {
    transform: translate(9em,-4.75em);
    animation-timing-function: ease-out;
  } 
  50% {
    transform: translate(10em,-7em);
  } 
  60% {
    transform: translate(12em,-4.75em);
  } 
  70% {
    transform: translate(14em,-6em);
  } 
  80% {
    transform: translate(15em,0em);
  }
  90% {
    transform: translate(17.3em,-3em);
  }
  100% {
    transform: translate(18em,0em);
  }
}

/* mario level 2 */
@keyframes mario2 {
  0% {
    transform: translate(0,0) scale(-1, 1);
  } 
  7% {
    transform: translate(3em,0) scale(-1, 1);
    animation-timing-function:linear;
  }
  14% {
    transform: translate(4em,-2em) scale(-1, 1);
    animation-timing-function:ease-out;
  }
  21% {
    transform: translate(5.2em,-0.4em) scale(-1, 1);
  }
  28% {
    transform: translate(7em,-0.4em) scale(-1, 1);
    animation-timing-function:linear;
  }
  35% {
    transform: translate(8em,-4em) scale(-1, 1);
  }
  42% {
    transform: translate(9em,-3em) scale(-1, 1) rotate(-360deg);
  }
  49% {
    transform: translate(10em,2.8em) scale(-1, 1) rotate(-360deg);
  }
  56% {
    transform: translate(10em,2.8em) rotate(-360deg);
    /* ? */
  }
  63% {
    transform: translate(9em,2em) rotate(-360deg);
  }
  70% {
    transform: translate(8em,2.8em) rotate(-360deg);
    animation-timing-function: ease-out;
  }
  83% {
    transform: translate(6em,2.8em) rotate(-360deg);
    animation-timing-function:linear;
  }
  90% {
    transform: translate(5em,2em) rotate(-360deg);
  }
  100% {
    transform: translate(5em,5.5em) rotate(-360deg);
  }
}

/* mushroom 1 */
@keyframes mushroom1 {
  0% {
    transform: translate(0);
  } 
  50% {
    transform: translate(1em);
  }
  100% {
    transform: translate(0);
  }
}

/* mushroom 2 */
@keyframes mushroom2 {
  0% {
    transform: translatey(0);
  } 
  50% {
    transform: translatey(-1em); 
    animation-timing-function: ease-in;
  }
  100% {
    transform: translatey(0);
  }
}

/* flower level 3 */
@keyframes flower {
  0% {
    transform: translate(0,0);
  } 
  40% {
    transform: translate(0,0);
  }
  80% {
    transform: translate(0,10em);
  }
  100% {
    transform: translate(0,0);
  }
}

/* mario level 3 */
@keyframes mario3 {
    0% {
      transform: translate(0,0);
    } 
    10% {
      transform: translate(2.5em,0);  
      animation-timing-function: ease-out;      
      }
    20% {
      transform: translate(6.5em,-6.8em);    
      animation-timing-function: ease-in;    
        }
    25% {
      transform: translate(8.5em,-5.5em);   
      animation-timing-function: linear;     
        }
    30% {
      transform: translate(11em,-5.5em);  
      animation-timing-function: ease-out; 
        }
    40% {
      transform: translate(14.5em,-7.5em);     
      animation-timing-function: ease-in;  
        }
    50% {
      transform: translate(19.5em,-3.7em);       
        }
    60% {
      transform: translate(19.5em,-3.7em) scale(-1, 1);       
        }
    70% {
      transform: translate(17em,-4.5em) scale(-1, 1);
        }
    80% {
      transform: translate(16.5em,3.5em) scale(-1, 1);
        }
    90% {
      transform: translate(16.5em,3.5em);
      animation-timing-function: linear;
        }
    100% {
      transform: translate(22em,3.5em);
        }
  }

/* background animation*/
@keyframes backgroundanimation {
  0% {
    background-position:0 0;
  } 
  100% {
    background-position:-1000vw 0;
  } 
}